<div class="flexrow top">
    <div class="flexcol">
         <div class="flex1 center">
                <span class="titleFont titre-general field-label">{{ localize 'VALOMBREUSE.ui.creature' }}</span>
         </div>
        <!-- NAME -->
        <div class="flexrow">
            <div class="flex4 center cell">
                <input class="field-value charname" name="name" type="text" value="{{actor.name}}" placeholder="Name" data-dtype="String"/>
            </div>
        </div>
    </div>
</div>
<div class="header">
<div class="flexrow no-wrap">
    <div class="flex1 left" id="banner-left"></div>
        {{#if system.silentmode}}
            <div class="flex1 center" id="logo-banner"><img class="clef-silent" src="/systems/valombreuse/assets/images/Clef_grey-S.png"/></div>          
        {{else}}
            <div class="flex1 center" id="logo-banner"><img class="clef-silent" src="/systems/valombreuse/assets/images/Clef-S.png"/></div>
        {{/if}}               
    <div class="flex1 right" id="banner-right"></div>
</div>
</div>

