<div class="flexrow top">
    <div class="flexcol">
         <div class="flex1 center">
                <span class="titleFont titre-general field-label">{{ localize 'VALOMBREUSE.ui.creature' }}</span>
         </div>
        <!-- NAME -->
        <div class="flexrow">
            <div class="flex4 center cell">
                <input class="field-value charname" name="name" type="text" value="{{actor.name}}" placeholder="Name" data-dtype="String"/>
            </div>
        </div>
    </div>
</div>
