
<div class="attrvertalign col_carac">
 <div class="carac_block" >
        {{> "systems/valombreuse/templates/actors/creature/parts/attributes/creature-attributes-vig.hbs"}}
        {{> "systems/valombreuse/templates/actors/creature/parts/attributes/creature-attributes-mc.hbs"}}
        {{> "systems/valombreuse/templates/actors/creature/parts/attributes/creature-attributes-con.hbs"}}
        {{> "systems/valombreuse/templates/actors/creature/parts/attributes/creature-attributes-int.hbs"}}
        {{> "systems/valombreuse/templates/actors/creature/parts/attributes/creature-attributes-eve.hbs"}}
        {{> "systems/valombreuse/templates/actors/creature/parts/attributes/creature-attributes-cha.hbs"}}
    </div>
</div>


