<div class="flexrow top">
     <div class="flexrow no-wrap description_row">
              <div class="flexcol"> 
                     <div class="form-header">{{ localize "VALOMBREUSE.details.description" }}</div>
                           {{editor biographyHTML target="system.description" button=true owner=owner editable=editable}}
            </div>
        </div>
</div>

     
