# IDE
.idea/
.vs/

# Node Modules
node_modules/
npm-debug.log

# Foundry
*.lock
jsconfig.json
foundry
packs/origines/MANIFEST-001790
*.log
packs/pretires/CURRENT
packs/pouvoir-de-sang-ancien/LOG
packs/pouvoir-de-sang-ancien/MANIFEST-001806
packs/pouvoir-de-sang-ancien/CURRENT
packs/pretires/LOG
packs/scene/MANIFEST-000675
packs/scene/CURRENT
packs/regles/MANIFEST-000127
packs/regles/CURRENT
packs/pretires/MANIFEST-001173
packs/pretires/CURRENT
packs/ordres/MANIFEST-001333
packs/aptitudes/MANIFEST-001792
packs/competences/MANIFEST-001793
packs/domaine-de-sang-ancien/MANIFEST-001886
packs/equipement/MANIFEST-000231
packs/etats/MANIFEST-001777
packs/jeu-de-cartes-valombreuse/MANIFEST-000572
*.log
*.log
