<div class="form-header">{{localize "VALOMBREUSE.ui.properties"}}</div>
    <div class="form-group">
        <label>{{localize "VALOMBREUSE.ui.score"}}</label><input class="center" name="system.score" type="text" value="{{system.score}}" placeholder="{{localize "VALOMBREUSE.ui.score"}}" data-dtype="Number">
    </div>
</div>
