<div class="form-group">
    <label>{{localize "VALOMBREUSE.damage.label"}}</label>
    <div class="form-fields">
        <input name="system.dmgBase" type="text" value="{{system.dmgBase}}" placeholder="{{localize "VALOMBREUSE.damage.label"}}" data-dtype="String">
    </div>
</div>
