<div class="attrvertalign">  
    <div class="flexcol no-wrap">
        <div id="mental_icon" class="flex1 center">
            <input class="field-label-icon-mental field-value" name="system.attributes.mental.value" type="text" value="{{system.attributes.mental.value}}" placeholder="0" data-dtype="Number"/>
        </div>
        <div class="flex1 center">
            <div class="field-label">{{ localize 'ARIA.attributes.mental.label' }}</div>
        </div>
    </div>
</div>


