<div class="flexrow no-wrap">
     <div class="flex1 center">
            <div class="field-label">{{ localize 'VALOMBREUSE.attributes.xp.label' }}</div>
        </div>
        <div id="power_icon" class="flex1 center">
            <input class="field-label-icon-power field-value" name="system.attributes.xp.value" type="text" value="{{system.attributes.xp.value}}" placeholder="0" data-dtype="Number"/>
        </div>
        <div class="flex1 center">
            <div class="field-label">{{ localize 'VALOMBREUSE.attributes.xpmax.label' }}</div>
        </div>
        <div id="power_icon" class="flex1 center">
            <input class="field-label-icon-power field-value" name="system.attributes.xp.max" type="text" value="{{system.attributes.xp.max}}" placeholder="0" data-dtype="Number"/>
        </div>
    </div>


