

{{#if (ne actor.img "icons/svg/mystery-man.svg")}}
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="128" width="128" />
{{else}}
    <div style="flex:initial; width:128px;"></div>
{{/if}}

<div class="actor-info">
  <div class="actor-infos-line">
    <img src="systems/valombreuse/css/assets/images/Valombreuse-Logo.png" height="52" width="52">
    <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" /></h1>
  </div>

  {{#if (eq data.type "trinite")}}
    <div class="actor-infos-line">
     
    </div>
  {{/if}}
</div>