<div class="flexrow no-wrap stats">
     <div class="flexrow flex3">
        <div class="flex1 layout center carac pos_relative">
            <!-- STATS -->
            <td>
				<input data-field="Déreis" class="centered health-phys"
				type="text" value="0" data-dtype="Number"
				id="dataPhyCur"></td>
			<td id="barPhyMax">
				<div style="width: 300px;">
					<div style="position: relative; z-index: 1; border: solid black 1px;">
						<div id="barPhyCur" style="background-color: #cef2b3; width: 77%;">&nbsp</div>
						<div id="barPhyBoxes" style="display: flex; z-index: 2; position: absolute; top: 0em; width: 100%">
					</div>
					</div>
					<div id="barPhyScale" style="display: flex; font-size: x-small">
					</div>
				</div>
			</td>
        </div>
    </div>
</div>
